<div role="document" class="Page">
    {% if page.utility %}
        <section class="PageSection PageSection--utility">
            <div class="PageSection-container">
                {{ page.utility }}
            </div>
        </section>
    {% endif %}

    {% if page.header %}
        <header class="PageSection PageSection--header">
            <div class="PageSection-container">
                {{ page.header }}
            </div>
        </header>
    {% endif %}

    {% if (page.breadcrumb or breadcrumb) and not is_front %}
        <section class="PageSection PageSection--breadcrumb">
            <div class="PageSection-container">
                {% if page.breadcrumb %}
                    {{ page.breadcrumb }}
                {% elseif breadcrumb %}
                    {{ breadcrumb }}
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% if page.featured %}
        <section class="PageSection PageSection--featured">
            <div class="PageSection-container">
                {{ page.featured }}
            </div>
        </section>
    {% endif %}

    {% if messages %}
        <section class="PageSection PageSection--messages">
            <div class="PageSection-container">
                {{ messages }}
            </div>
        </section>
    {% endif %}

    <main role="main" class="PageSection PageSection--main">
        <div class="PageSection-container">
            {% if page.sidebar_first %}
                <section class="PageSection PageSection--sidebar PageSection--sidebarFirst" role="complementary">
                    <div class="PageSection-container">
                        {{ page.sidebar_first }}
                    </div>
                </section>
            {% endif %}

            <section class="PageSection PageSection--content">
                <div class="PageSection-container">
                    {{ page.content }}
                </div>
            </section>

            {% if page.sidebar_second %}
                <section class="PageSection PageSection--sidebar PageSection--sidebarSecond" role="complementary">
                    <div class="PageSection-container">
                        {{ page.sidebar_second }}
                    </div>
                </section>
            {% endif %}
        </div>
    </main>

    {% if page.footer_top or page.footer_bottom %}
        <footer class="Footer" role="contentinfo">
          {% if page.footer_top %}
            <section class="PageSection PageSection--footer PageSection--footerTop">
              <div class="PageSection-container">
                {{ page.footer_top }}
              </div>
            </section>
          {% endif %}

          {% if page.footer_bottom %}
            <section class="PageSection PageSection--footer PageSection--footerBottom">
              <div class="PageSection-container">
                {{ page.footer_bottom }}
              </div>
            </section>
          {% endif %}
        </footer>
    {% endif %}
</div>
